:root {
  --main-color: #ac0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
    
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
header {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

header .logo {
  max-width: 400px;
}

header .logo img {
  width: 100%;
}

/* ////////////////////////////////////// */

.layout {
  padding: 50px 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.layout.layout .big_title {
  font-size: 18px;
  font-weight: 500;
}

.layout .form_group {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}


.layout input:focus , .layout button:focus{
  box-shadow: 0 0 0 0.25rem #ac00006b;
  border: 1px solid #ac00006b;
}

.layout .btn {
  display: inline-block;
  margin: 0 auto;
  width: 240px;
  font-size: 20px;
  background-color: var(--main-color);
  color: white;
}

.layout .btn.disabled {
  background-color: #aaa;
  cursor: not-allowed;
  pointer-events: none;
}

.layout .list_names ul {
  list-style: none;
  padding: 0;
}
.layout .list_names ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 3px;
}

.layout #lst2 ul li.annimate {
  position: relative;
  -webkit-animation-name: valueDrop;
  -moz-animation-name: valueDrop;
  animation-name: valueDrop;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

/* ////////////////////////////////////// */

.show_winner {
  display: none;
}

.layout.show_winner .btn {
  width: 170px;
  margin: 10px;
  font-size: 16px;
}

/* ////////////////////////////////////// */

footer {
  background-color: black;
}

footer p {
  text-align: center;
  color: gray;
  padding: 20px 0;
  margin: 0;
}

/* javascript  */

.msg_error {
  display: none;
}

/* annimation  */


@keyframes valueDrop {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
